{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "simple-import-sort",
    "import",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "semi": false,
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "arrowParens": "avoid",
        "jsxBracketSameLine": false
      }
    ],
    "no-unused-vars": "warn",
    "no-console": "warn"
  }
}
